page-login {

}

.upper{
    align-content: center;
}

.allign{
    height: 100%;
    display: block;
    text-align: center;
}

.bottom-row{
    height: 100%;
    display: block;
    text-align: center;
    height: 20%;
}
