
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label color="primary" floating>Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-row class="bottom-row">
    <button ion-button center color="regular" (click)="gotoPage1();">Login!</button>
    <p class="allign" (click)="gotoReg();">Or Register Here!</p>
  </ion-row>
</ion-content>
