page-register {

}

.row{
    display: block;
    text-align: center;
    height: 20%;
}

.allign{
    display: block;
    text-align: center;
}

.row2{
    padding-top: 5%;
    display: block;
    text-align: center;
}