
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label color="primary" floating>Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Confirm Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Number</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-row class="row">
    <button ion-button color="primary" center (click)="gotoLogin();">Register!</button>
    <p class="allign" (click)="gotoLog();">Or Login Here!</p>
  </ion-row>
</ion-content>
