<ion-header>
  <ion-navbar>
    <ion-title class="allign">
      Basic Application
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row class="top-row">
    <p>Already Registered?</p>
    <button ion-button class="lower" color="danger" (click)="gotoLogin();">Login!</button>
    <p>Not yet Registered?</p>
    <button ion-button class="lower" color="danger" (click)="gotoReg();">Register!</button>
  </ion-row>
</ion-content>
