page-home {

}

.allign{
    height: 100%;
    display: block;
    text-align: center;
}

.top-row{
    height: 100%;
    display: block;
    text-align: center;
    height: 20%;
}

.lower{
    text-decoration: lowercase;
}