<!--
  Generated template for the Page3 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Active Hours</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
</ion-content>
