
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Battery Level</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
