<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Side Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button secondary menuToggle>Click Me</button>
</ion-content>
