<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>WhiteList</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="bottom-row">
      <button ion-button end color="regular" (click)="addRec();">Add</button>
    </ion-row>
</ion-content>
